<% include ../../partials/header %>

<div class="ui main text container segment showblog">
    <div class="ui huge header"><%= blogs.title%></div>
    <div class="ui top attached">
        <div class="item">
            <img class = "ui centered rounded image"src="<%= blogs.image%>"></img>
            <div class="content">
                <span><%= blogs.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%= blogs.body %></p>
            </div>
            <% if(currentUser){ %>
            <a class = "ui black big button" href="/blog/<%= blogs._id %>/edit" > Edit</a>
            <form id = "delete"  method="POST" action="/blog/<%= blogs._id %>?_method=DELETE">
                <button class="ui black big button">Delete</button>
            </form>
            <% } %>
        </div>
    </div>
</div>

<% include ../../partials/footer %>